ipykernel
dotenv
langchain
langchain_groq
langchain_core
langchain_community
langchain


chromadb
chroma
langchain-huggingface

sentence-transformers

langchain_ollama
langchain_chroma

beautifulsoup4

